.git
.env
*.env
comfyui/models
comfyui/input
comfyui/output
comfyui/custom_nodes
comfyui/user
rife/output
ComfyUI/models/*
ComfyUI/input/*
ComfyUI/output/*
ComfyUI/custom_nodes/*
ComfyUI/user/*
ComfyUI/.git
ComfyUI/venv
ComfyUI/__pycache__
ComfyUI/*.pyc
